$primaryColor: #558B2F;
$secondaryColor: #ccc;
$ternaryColor: #272727;
$navDarkColor: #444444;
$textColor: #000000;
$successColor: #1B5E20;
$warningColor: #ffff00;
$dangerColor: #FF0000;
$infoColor: #0000ff;
$lightColor: #ffffff;
$darkColor: #000000;
$grayColor: #808080;
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
$maxWith: 1300px;